.DS_Store
.project
.svn/
.settings
lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
*.log
results
build
.grunt
docs

.idea

coverage
build

*.diff
client_test_results.xml
